
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyFirstDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyFirstDb]
GO
/****** Object:  Table [dbo].[T_USER]    Script Date: 2/8/2020 5:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_USER](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NULL,
	[APELLIDO] [varchar](250) NULL,
	[TELEFONO] [varchar](250) NULL,
	[DIRECION] [varchar](250) NULL,
 CONSTRAINT [PK_T_USER] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[T_USER] ON 

INSERT [dbo].[T_USER] ([CODIGO], [NOMBRE], [APELLIDO], [TELEFONO], [DIRECION]) VALUES (1, N'Steven', N'Checo', N'546516', N'C/fjsafnksnj')
INSERT [dbo].[T_USER] ([CODIGO], [NOMBRE], [APELLIDO], [TELEFONO], [DIRECION]) VALUES (2, N'Boris', N'Parales', N'6516516', N'C/asfasdfag')
INSERT [dbo].[T_USER] ([CODIGO], [NOMBRE], [APELLIDO], [TELEFONO], [DIRECION]) VALUES (3, N'Leomaris', N'Mateo', N'65165165', N'C/adjnaklsjdf')
SET IDENTITY_INSERT [dbo].[T_USER] OFF
USE [master]
GO
